body {
  font-family: "Agbalumo", cursive;
  color: #132a13;
  text-shadow: 0.1vh 0.1vh 1vh #d62828;
  background: linear-gradient(45deg, #4f772d, #ecf39e);
}

#mainpage {
  display: flex;
  flex-direction: column;
  width: 140vh;
  border: 0.5vh solid #132a13;
  border-radius: 1vh;
}

#header {
  background: #90a955;
  width: 120vh;
  text-align: center;
  margin: 5vh;
  padding: 2vh 5vh;
  box-shadow: 1vh 1vh #132a13;
  border-radius: 1vh;
}

.container {
  margin: 2vh;
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  padding-top: 20px;
}

.photos {
  padding: 1vh;
}

.description {
  width: 65vh;
  height: 12vh;
  text-align: center;
  background-color: #90a955;
  border-radius: 1vh;
}

.img-container {
  width: 40vh;
  height: 60vh;
  margin: 0 auto;
  padding: 5vh;
  border: 0.5vh solid #132a13;
  border-radius: 1vh;
}

#emma-box1 {
  background-image: url("./images/Emma-box1.png");
  background-size: cover;
}

#emma-box2 {
  background-image: url("./images/Emma-box2.png");
  background-size: cover;
}

#emma-bike1 {
  background-image: url("./images/Emma-bike1.png");
  background-size: cover;
}

#emma-bike1:hover {
  background-image: url("./Images/Emma-bike1-hover.png");
  background-size: cover;
}

#emma-camping1 {
  background-image: url("./images/Emma-camping1.png");
  background-size: cover;
}

#emma-camping2 {
  background-image: url("./images/Emma-camping2.png");
  background-size: cover;
}

#emma-food {
  background-image: url("./images/Emma-food.png");
  background-size: cover;
}
